
#saleParagraph{
  text-align: center;
  font-family: Monospaced;
  font-size: 30px;
  color: #607D8B;
}
.sales-section{
  /* #50A7C2;*/
  margin-left: 20%;
  padding: 5%;
  border-radius: 30px;
  margin-right: 20%;
}


.saleContainer li {
  list-style: none;
  cursor: pointer;
  position: relative;
  background-color: #EEE;
  color: #607D8B;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}


.saleContainer li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.salesArr li:hover {
  color: #607D8B;
  background-color: #DDD;

}

.saleContainer .text {
  position: relative;
  top: -3px;
}

.saleContainer .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/*NAV BAR*/
.navigationBar{
  display: flex;
  flex-direction: row;
}


#previousPageSalesContainer, #nextPageSalesContainer{
  background-color: #EEE;
  opacity: 60%;
  margin-top: 3%;
  padding: 2.5%;
  border-radius: 10px;
}

#previousPageSalesContainer:hover, #nextPageSalesContainer:hover{
  background-color: #607D8B;
}

#previousPageSalesContainer{
  margin-left: 35%;
}
#nextPageSalesContainer{
  margin-left: 6%;
}

