.selected {
  background-color: #CFD8DC !important;
  color: white;
}

#bookParagraph{
  text-align: center;
  font-family: Monospaced;
  font-size: 30px;
  color: #607D8B;
}

.book-section{
  /* #50A7C2;*/
  margin-left: 20%;
  padding: 5%;
  border-radius: 30px;
  margin-right: 20%;

}


.bookContainer li {
  list-style: none;
  cursor: pointer;
  position: relative;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  color: #607D8B;
}


.bookContainer li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.books li:hover {
  color: #607D8B;
  background-color: #DDD;

}
.bookContainer .text {
  position: relative;
  top: -3px;
}

.bookContainer .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

#selBooktDiv > button, p{
  font-family: Monospaced;
  font-size: 25px;
  color: #607D8B;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

#clientParagraph{
  text-align: center;
  font-family: Monospaced;
  font-size: 30px;
}

.student-section{
  /* #50A7C2;*/
  margin-left: 20%;
  padding: 5%;
  border-radius: 30px;
  margin-right: 20%;

}


.clientContainer li {
  list-style: none;
  cursor: pointer;
  position: relative;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  color: #607D8B;
  border-radius: 4px;
}


.clientContainer li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.students li:hover {
  color: #607D8B;
  background-color: #DDD;

}
.clientContainer .text {
  position: relative;
  top: -3px;
}

.clientContainer .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

#selClientDiv > button, p{
  font-family: Monospaced;
  font-size: 25px;
  color: #607D8B;
}


/* NAVIGATION BAR RELATED */
.navigationBar{
  display: flex;
  flex-direction: row;
}


#previousPageClientsContainer, #nextPageClientsContainer{
  background-color: #EEE;
  opacity: 60%;
  margin-top: 3%;
  padding: 2.5%;
  border-radius: 10px;
}

#previousPageClientsContainer:hover, #nextPageClientsContainer:hover{
  background-color: #607D8B;
}

#previousPageClientsContainer{
  margin-left: 35%;
}
#nextPageClientsContainer{
  margin-left: 6%;
}



