<div class="buy-book-container">

  <div class="form-data-show">
      <div id="selClientDiv" *ngIf="selectedClient">
        <p id="selClientName">Selected Client: {{selectedClient.name}}</p>
      </div>

      <div id="selBooktDiv" *ngIf="selectedBook">
        <p id="selBookName">Selected book'{{selectedBook.title}}' written by {{selectedBook.author}}</p>
        <button id="buy-book-button" (click)="buyBook()">Buy {{selectedBook.title}}</button>
      </div>
  </div>

  <div class="clientContainer" id="cl-cont-buy">
    <p id="clientParagraph">Pick A Client</p>
    <div class="filterByNameClientContainer">
      <label id="filterNameClientLabel">Client Name</label>
      <input id="clientNameFilterInput" #clientName (input)="doClientFilter(clientName.value)" placeholder="Client Name">
    </div>
    <li class="clientElem" *ngFor="let client of clients"
        [class.selected]="client === selectedClient"
        (click)="onSelect(client)">
      {{client.name}}
    </li>


    <div class="navigationBar">
      <div id="previousPageClientsSalesContainer" (click)="prevPageClients()">
        <label id="previousPageClientsSales">Previous Page</label>
      </div>
      <div id="nextPageClientsSalesContainer" (click)="nextPageClients()">
        <label id="nextPageClientsSales">Next Page</label>
      </div>
    </div>
  </div>

  <div class="bookContainer" id="book-cont-buy">
    <p id="bookParagraph">Pick A Book</p>
    <div class="filterByTitleBookContainer">
      <label id="filterTitleLabel">Book Title</label>
      <input id="titleFilterInput" #bookTitle (input)="doBookFilter(bookTitle.value)" placeholder="Title...">
    </div>
    <li class="bookElem" *ngFor="let book of booksArr"
        [class.selected]="book === selectedBook"
        (click)="onSelectBook(book)">
      '{{book.title}}' by {{book.author}}
    </li>



    <div class="navigationBar">
      <div id="previousPageBooksSalesContainer" (click)="prevPageBooks()">
        <label id="previousPageBooksSales">Previous Page</label>
      </div>
      <div id="nextPageBooksSalesContainer" (click)="nextPageBooks()">
        <label id="nextPageBooksSales">Next Page</label>
      </div>
    </div>
  </div>

</div>

